<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>トップページ</title>
  <%= stylesheet_link_tag 'top' %>
</head>
<body>
  <nav>
    <ul>
      <%= link_to("商品一覧", "/products") %>
      <%= link_to("出品", "/sell") %>
      <%= link_to("プロフィール", "/profile") %>
      <%= link_to("ログイン", "/login") %>
    </ul>
  </nav>
  <%= image_tag("top.jpg", alt: "Logo") %>

</body>
</html>