<div class="products-detail">
    <table>
        <% if @product.image.present? %>
            <%= image_tag("/products/#{@product.image}", class: "product-detail-image") %>
        <% else %>
            <%= image_tag("/products/defalut.png", class: "product-detail-image") %>
        <% end %>
        <tr>
            <td><h2><%= @product.name %></h2></td>
        </tr>
        <tr>
            <td><p><%= "￥ #{@product.price.to_i}" %></p></td>
        </tr>
        <tr>
            <td><p><%= @product.description %></p></td>
        </tr>
        <tr>
            <% if @current_user.id == @product.user_id %>
                <td><%= link_to("出品を取りやめる", "/products/#{@product.id}/delete", data: { turbo_method: :post }) %></td>
            <% else %>
                <td>購入する</td>
            <% end %>
        </tr>
    </table>
</div>