<div class="products-detail">
    <table>
        <% if @product.image.present? %>
            <%= image_tag("/products/#{@product.image}", class: "product-detail-image") %>
        <% else %>
            <%= image_tag("/products/defalut.png", class: "product-detail-image") %>
        <% end %>
        <tr>
            <td><h2><%= @product.name %></h2></td>
        </tr>
        <tr>
            <td><p><%= "￥ #{@product.price.to_i}" %></p></td>
        </tr>
        <tr>
            <td><p><%= @product.description %></p></td>
        </tr>
        <tr>
            <td><%= link_to("削除", "/products/#{@product.id}/delete", data: { turbo_method: :post }) %></td>
        </tr>
    </table>
</div>