<h1>商品一覧画面</h1>
<div class="container">
  <table>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= link_to("/products/#{product.id}/detail") do %>
            <div class="product-block">
              <% if product.image.present? %>
                <%= image_tag("/products/#{product.image}", class: "product-index-image") %>
              <% else %>
                <%= image_tag("/products/defalut.png", class: "product-index-image") %>
              <% end %>
              <h2><%= product.name %></h2>
              <p><%= "￥ #{product.price.to_i}" %></p>
              <%= link_to("削除", "/products/#{product.id}/delete", data: { turbo_method: :post }) %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
