<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>トップページ</title>
  <%= stylesheet_link_tag 'top' %>
  <nav>
    <ul>
      <%= link_to("商品一覧", "/products") %>
      <%= link_to("出品", "/sell") %>
      <% if @current_user %>
        <%= link_to(@current_user.name + 'さん', "/profile") %>
        <%= link_to("ログアウト", "/logout") %>
      <% else %>
        <%= link_to("ログイン", "/login") %>
      <% end %>
    </ul>
  </nav>
  
</head>